.verify-layout {
  width: 420px;
  height: 357px;
}
.c-h2 {
  width: 246px;
  height: 36px;
  margin-bottom: 16px;
}
.c-p {
  width: 306px;
  height: 17px;
  color: #6d7379;
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 32px;
}

.input-group {
  width: 305px;
  height: 63px;
  margin: auto;
  margin-bottom: 32px;
}

.input-group input {
  width: 62px;
  height: 63px;
  padding: 0px;
  margin-right: 14px;
  font-size: 32px;
  border-radius: 4px;
  text-align: center;
}

.input-group-text {
  border: 1px solid #f5f6f7;
  border-radius: 10px;
  background-color: #f5f6f7;
}
.input-active {
  border: 1px solid var(--main-color) !important;
  background-color: #e8eff8;
}

.btn-translatY {
  transform: translateY(10px);
}

.form-control {
  border: 1px solid #f5f6f7;
  border-radius: 10px;
  background-color: #f5f6f7;
}
