<div class="container doctor-list">
  <!-- Header -->
  <div class="row header-bar align-items-center py-4">
    <div class="col-auto">
      <button
        class="btn btn-outline-secondary d-flex align-items-center py-0"
        (click)="toggleSidebar()"
      >
        <i class="fa-solid fa-sliders fa-sm"></i>
        <span class="border-end border-1 border-secondary p-2">Filter</span>
        <i class="fa-solid fa-angle-left fa-sm ps-2"></i>
      </button>
    </div>

    <div class="col">
      <div class="input-group">
        <input
          type="text"
          class="form-control search-input border-secondary p-2"
          placeholder="Search Doctors"
          (input)="onSearch($any($event.target).value)"
        />
      </div>
    </div>

    <div class="col-auto">
      <a
        routerLink="/layout/map"
        class="btn btn-outline-secondary p-2 d-flex align-items-center gap-2"
      >
        <i class="fas fa-map-marker-alt"></i>
        <span>Map</span>
      </a>
    </div>
  </div>

  <!-- Main Content Area  -->
  <div class="main-content">
    <!-- Sidebar  -->
    <div class="sidebar" [class.collapsed]="isSidebarCollapsed">
      <div class="sidebar-card card p-3 shadow-sm">
        <!-- Available Date Filter -->
        <div class="filter-section mb-3">
          <h6>Available Date</h6>
          @for (date of ['Today', 'Tomorrow']; track date) {
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [id]="'date' + date"
              [value]="date"
              name="availableDate"
            />
            <label class="form-check-label" [for]="'date' + date">{{ date }}</label>
          </div>
          }
        </div>

        <!-- Gender Filter -->
        <div class="filter-section mb-3">
          <h6>Gender</h6>
          <div class="btn-group w-100" role="group">
            <input
              type="radio"
              class="btn-check"
              name="gender"
              id="genderMale"
              value="Male"
              autocomplete="off"
            />
            <label class="btn btn-outline-secondary rounded-3 mx-1" for="genderMale">Male</label>

            <input
              type="radio"
              class="btn-check"
              name="gender"
              id="genderFemale"
              value="Female"
              autocomplete="off"
            />
            <label class="btn btn-outline-secondary rounded-3 mx-2" for="genderFemale"
              >Female</label
            >
          </div>
        </div>

        <!-- Consultation Type Filter  -->
        <div class="filter-section mb-3">
          <h6>Consultation Type</h6>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="consultationType"
              id="typeInclinic"
              value="In-clinic"
            />
            <label class="form-check-label" for="typeInclinic">In-clinic</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="consultationType"
              id="typeHomeVisit"
              value="Home Visit"
            />
            <label class="form-check-label" for="typeHomeVisit">Home Visit</label>
          </div>
        </div>

        <!-- Sort Filter -->
        <div class="filter-section mb-3">
          <h6>Sort</h6>
          @for (sort of sortOptions; track sort.value) {
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              [id]="sort.value"
              [value]="sort.value"
              name="sortOptions"
              [(ngModel)]="sortFilter"
              (change)="applyFilters()"
            />
            <label class="form-check-label" [for]="sort.value">{{ sort.label }}</label>
          </div>
          }
        </div>
      </div>
    </div>

    <!-- Doctor List Area  -->
    <div class="doctor-list p-3">
      <h4 class="mb-3">Choose Specialties</h4>

      <!-- Specialties -->
      <div class="specialties-wrapper d-flex align-items-center">
        <button class="btn btn-outline-secondary border-0 p-1 bg-secondary-subtle rounded-circle mx-1 mb-2" (click)="scrollLeft()">
          <i class="fa-solid fa-angle-left"></i>
        </button>

        <div class="specialties-container" #scrollContainer>
          @for (specialty of specialties(); track specialty.id) {
          <button
            class="btn second-color specialty-tag flex-shrink-0 mb-2 me-2"
            [ngClass]="{
              'btn-primary': isSpecialtySelected(specialty.id),
              'btn-outline-primary': !isSpecialtySelected(specialty.id)
            }"
            (click)="toggleSpecialty(specialty.id)"
          >
            <span class="mb-1 pe-4">{{ specialty.emoji }}</span>
            <span>{{ specialty.title }}</span>
          </button>
          }
        </div>
        <button class="btn btn-outline-secondary border-0 p-1 bg-secondary-subtle rounded-circle mb-2" (click)="scrollRight()">
          <i class="fa-solid fa-angle-right"></i>
        </button>
      </div>

      <!-- <div class="mb-4">
        <div class="pb-2">
          @for (specialty of specialties(); track specialty.id) {
          <button
            class="btn second-color specialty-tag flex-shrink-0 mb-2 me-2"
            [ngClass]="{
              'btn-primary': isSpecialtySelected(specialty.id),
              'btn-outline-primary': !isSpecialtySelected(specialty.id)
            }"
            (click)="toggleSpecialty(specialty.id)"
          >
            <span class="mb-1 pe-4">{{ specialty.emoji }}</span>
            <span>{{ specialty.title }}</span>
          </button>
          }
        </div>
      </div> -->

      <!-- Doctor Cards -->
      <div class="doctor-cards">
        @for (doctor of pagedDoctors(); track doctor.id) {
        <div class="d-flex m-3 doctor-card-col">
          <div class="card h-100 doctor-card shadow-lg">
            <div class="card-contant rounded-4 d-flex align-items-center">
              <img
                [src]="doctor.imgUrl || '/assets/images/default-user.webp'"
                alt="{{ doctor.fullName }}"
                class="doctor-image rounded-2 mx-4 mt-2"
              />

              <div class="pe-1">
                <h5 class="card-title my-2">
                  {{
                    doctor.fullName.length > 18
                      ? doctor.fullName.slice(0, 18) + '...'
                      : doctor.fullName
                  }}
                </h5>
                <p class="text-muted mb-2 overflow-hidden">
                  {{
                    doctor.specialistTitle.length > 9
                      ? doctor.specialistTitle.slice(0, 7) + '...'
                      : doctor.specialistTitle
                  }}
                  | El-Nasr Hospital
                </p>
                <div class="align-items-center mb-2">
                  <i class="fas fa-star text-warning me-1"></i>
                  <span class="me-3">{{ doctor.rating }}</span>
                  <span>
                    <i class="fa-regular fa-clock text-muted"></i>
                    9:30am - 8:00pm
                  </span>
                </div>
              </div>
            </div>

            <div class="card-body pt-1">
              <p class="d-flex justify-content-between mx-2 border-top">
                <span>Price<span class="text-muted small">/hour</span></span>
                <strong class="text-danger">${{ doctor?.price }}</strong>
              </p>
              <button class="btn-main py-2 w-100" (click)="bookAppointment(doctor.id)">
                Book appointment
              </button>
            </div>
          </div>
        </div>
        } @empty {
        <div class="col-12 text-center py-5">
          <p class="lead text-muted">No doctors found matching your criteria.</p>
        </div>
        }
      </div>
      <div class="d-flex justify-content-center mt-5">
        @if (currentPage() === 1) {
        <button class="btn-main py-2 mb-4 bg-white main-color" (click)="nextPage()">
          Next page
        </button>
        } @if (currentPage() === 2) {
        <button class="btn-main py-2 mb-4 bg-white main-color" (click)="prevPage()">
          Previous page
        </button>
        }
      </div>
    </div>
  </div>
</div>
