.doctor-list {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

/* Sidebar */
.sidebar {
  width: 300px;
  min-width: 0;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
  box-sizing: border-box;

  &.collapsed {
    width: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

/* Sidebar content */
.sidebar-card {
  border: none;
  width: 300px;
  box-sizing: border-box;
}

.specialty-tag {
  color: #BBC1C7;
  border-radius: 14px;

  &.btn-primary {
    background-color: #BBC1C7;
    border-color: #BBC1C7;
    color: white;
  }
  &.btn-outline-primary {
    color: #BBC1C7;
    border-color: #BBC1C7;
    background-color: white;

    &:hover {
      background-color: #BBC1C7;
      color: white;
    }
  }
}

.specialty-tag i{
  color: #838587;
}


.doctor-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: flex-start;
}

.doctor-card-col {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem);
  display: flex;

  @media (max-width: 992px) {
    flex-basis: calc(50% - 0.75rem);
    max-width: calc(50% - 0.75rem);
  }
  @media (max-width: 768px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}


/* Doctor Card */
.doctor-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  transition: transform 0.2s;
  flex-grow: 1;
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1);
  }
}

.doctor-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-top: 1rem;
}

/* Search input specific styles */
.search-input {
  &:focus {
    box-shadow: none;
    border-color: #ced4da;
  }
}


/* Filter sections */
.filter-section {
  h6 {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.75rem;
  }
  .form-check {
    margin-bottom: 0.5rem;
  }
  .btn-group {
    label {
      flex: 1;
      text-align: center;
      border-radius: 0.25rem;
    }
  }
}

