@if (doctorDetails()) {
<div class="modal fade" id="book" tabindex="-1" aria-labelledby="book" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-2">
      <div class="modal-header d-block border-0 pb-0">
        <div class="payment-header d-flex justify-content-between m-auto">
          <div class="container-div-image position-relative">
            <img
              class="rounded-circle h-100"
              [src]="
                doctorDetails()?.imgUrl
                  ? baseUrl +
                    (doctorDetails()?.imgUrl?.startsWith('/')
                      ? doctorDetails()?.imgUrl?.substring(1)
                      : doctorDetails()?.imgUrl)
                  : 'assets/images/default-user.webp'
              "
              [alt]="doctorDetails()?.fullName"
            />

            <img
              class="position-absolute custome-budget"
              src="assets/images/budgetCorrect.svg"
              alt=""
            />
          </div>
          <div class="doctor-details">
            <h2>{{ doctorDetails()?.fullName }}</h2>
            <p>
              @for (doc of doctorDetails()?.specialities; track $index) {
              {{ doc }}, }
            </p>
            <div class="d-flex justify-content-between align-items-center location">
              <img class="location-image me-2" src="assets/images/Icon.svg" alt="" />
              <p class="location-p">129,El-Nasr Street, Cairo</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center custom-margin-for-date mt-4">
          <div class="d-flex">
            <img class="me-2" src="assets/images/date.svg" alt="" />
            <p class="m-0">
              {{ today | prettyDate : { locale: 'en-US', showSpaceAfterComma: false } }}
            </p>
          </div>
          <button class="main-color btn-text">Reschedule</button>
        </div>
      </div>
      <div class="modal-body">
        <h3>Payment Method</h3>
        <div class="mb-2">
          <div
            class="d-flex justify-content-between align-items-center p-2 change-bg-hover"
            #divVisa
          >
            <div class="d-flex align-items-center">
              <input
                class="me-2"
                type="radio"
                name="payment"
                [value]="2"
                id="visa"
                #inputVisa
                (change)="payment = 2; changeBg(divVisa, divPaypal, divApplePay)"
              />
              <label for="visa" class="curser-pointer">Credit Cart</label>
            </div>
            <img src="assets/images/visa.svg" alt="Visa.svg" />
          </div>
          <div
            class="d-flex justify-content-between align-items-center p-2 change-bg-hover"
            #divPaypal
          >
            <div class="d-flex align-items-center">
              <input
                class="me-2"
                type="radio"
                name="payment"
                [value]="0"
                id="paypal"
                (change)="payment = 0; changeBg(divPaypal, divVisa, divApplePay)"
              />
              <label for="paypal" class="curser-pointer">PayPal</label>
            </div>
            <img src="assets/images/PayPal.svg" alt="Pypal.svg" />
          </div>
          <div
            class="d-flex justify-content-between align-items-center c-p p-2 change-bg-hover"
            #divApplePay
          >
            <div class="d-flex align-items-center">
              <input
                class="me-2"
                type="radio"
                name="payment"
                [value]="1"
                id="applePay"
                (change)="payment = 1; changeBg(divApplePay, divVisa, divPaypal)"
              />
              <label for="applePay" class="curser-pointer">Apple Pay</label>
            </div>
            <img src="assets/images/ApplePay.svg" alt="ApplePay.svg" />
          </div>
        </div>
        <button class="btn-text d-block w-100 mt-2">
          <img src="assets/images/AddNewCardButton.svg" alt="" />
        </button>
      </div>
      <div class="modal-footer flex-column border-0">
        <div class="d-flex justify-content-between align-items-center w-100">
          <h2 class="h2-price">Price <span class="span-hour">\hour</span></h2>
          <span class="span-price">{{ doctorDetails()?.pricePerHour | currency : 'USD' }}</span>
        </div>
        <button type="button" class="btn-main w-100" (click)="book()">Pay</button>
      </div>
      <button
        type="button"
        class="btn-close position-absolute custom-position-btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
<div class="modal fade" id="review" tabindex="-1" aria-labelledby="review" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-2">
      <div class="modal-header d-block border-0 pb-0">
        <h2>Your Rate</h2>
        <div class="d-flex justify-content-between align-items-center my-3">
          <app-rating-stars [(rating)]="rating"></app-rating-stars>
          <h2>{{ rating }}/5</h2>
        </div>
      </div>
      <div class="modal-body flex-column">
        <h2>Your review</h2>
        <textarea
          [(ngModel)]="comment"
          class="review-teaxtarea"
          name="comment"
          id="reviewComment"
          placeholder="Write your review"
        ></textarea>
      </div>
      <div class="modal-footer flex-column border-0">
        <button class="btn-main w-100" type="button" (click)="addReview()">Send your review</button>
      </div>
      <button
        type="button"
        class="btn-close position-absolute custom-position-btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="availableSlots"
  tabindex="-1"
  aria-labelledby="availableSlots"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-2">
      <div class="modal-header d-block border-0 pb-0"></div>
      <div class="modal-body flex-column">
        @if(doctorDetails()?.availableSlots?.length !==0 ){ @for (availableSlots of
        doctorDetails()?.availableSlots; track availableSlots.id) {
        <h2>Only available appointment,please selected one fit you</h2>
        <h3>{{ availableSlots.dateTime | date }}</h3>
        <button
          class="btn w-100 my-1"
          [ngClass]="{
            'btn-primary': selectedSlotId === availableSlots.id && selectedSlot,
            'btn-outline-primary': selectedSlotId !== availableSlots.id && selectedSlot
          }"
          [disabled]="availableSlots.isBooked"
          (click)="selectSlot(availableSlots)"
        >
          {{ availableSlots.startTime }} - {{ availableSlots.endTime }}
          @if(availableSlots.isBooked){
          <span class="text-danger ms-2">(Booked)</span>
          }
        </button>
        } }@else {
        <h3 class="text-center">
          No available slots for Dr. {{ doctorDetails()?.fullName }} yet,coming soon
        </h3>
        }
      </div>
      <div class="modal-footer flex-column border-0"></div>
      <button
        type="button"
        class="btn-close position-absolute custom-position-btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
<div class="modal fade" id="paymentSuccessModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content w-75 py-4 px-5 text-center rounded-4">
      <div class="pyment-success-img d-flex justify-content-center w-100 mb-3">
        <img src="assets/images/paymentsuccess.svg" alt="paymentsuccess" />
      </div>
      <h3>Congratulations!</h3>
      <p>
        Your appointment with Dr. {{ doctorDetails()?.fullName }} is confirmed for
        {{ dateTime | date }} , {{ startTime }} - {{ endTime }}.
      </p>
      <button type="button" class="btn btn-dark mt-3" data-bs-dismiss="modal" (click)="done()">
        Done
      </button>
    </div>
  </div>
</div>
<div class="container py-4">
  <div class="d-flex align-items-center mb-4">
    <a routerLink="/layout/doctors-list" class="text-dark me-2">
      <i class="fa-solid fa-arrow-left pb-2"></i>
    </a>
    <h5>Make an appointment</h5>
  </div>

  <div class="row">
    <div class="col-md-10 mx-auto col-lg-7 mb-4">
      <div class="card shadow-sm p-3 mb-4">
        <div class="d-flex align-items-center justify-content-between border-bottom pb-3 mb-3">
          <h5 class="card-title mb-0">Choose date and time</h5>
          <div class="d-flex align-items-center">
            <div>
              <i class="fa-regular fa-calendar-days me-2"></i>
              <button class="border-0 bg-white" (click)="prevMonth()">
                <i class="fa-solid fa-angle-left"></i>
              </button>
              <span>{{ currentMonth | date : 'MMMM, yyyy' }}</span>
              <button class="border-0 bg-white" (click)="nextMonth()">
                <i class="fa-solid fa-angle-right"></i>
              </button>
            </div>
            <i class="fa-regular fa-calendar-days me-2"></i>
            <span class="me-2">November, 2024</span>
            <img
              class="curser-pointer"
              data-bs-toggle="modal"
              data-bs-target="#availableSlots"
              src="/assets/images/arrow-top-dwon.svg"
              alt=""
            />
          </div>
        </div>

        <div class="mb-3">
          @for (day of days; track day) {
          <button
            [class.active]="selectedDay === day"
            class="date bg-light mt-2 py-2 rounded-3 border-0 text-secondary"
            (click)="selectDay(day)"
            data-bs-toggle="modal"
            data-bs-target="#availableSlots"
          >
            {{ day.label }}
            <span class="d-block">{{ day.number }} </span>
          </button>
          }
        </div>
        <div class="mb-3">
          @for (time of times; track $index) {
          <button
            class="bg-light me-4 mt-2 p-2 rounded-3 border-0 text-secondary"
            [class.active]="selectedTime === time"
            (click)="selectTime(time)"
            data-bs-toggle="modal"
            data-bs-target="#availableSlots"
          >
            {{ time }}
          </button>
          }
        </div>

        <div class="d-flex align-items-center justify-content-between my-2">
          <div
            class="d-flex align-items-center curser-pointer"
            data-bs-toggle="modal"
            data-bs-target="#availableSlots"
          >
            <i class="fa-regular fa-calendar-days text-primary me-2"></i>
            @if (selectedDay || selectedTime ) {
            <span class="text-muted">
              {{ selectedDay.label }}, {{ selectedDay.full | date : 'MMMM d, yyyy' }} -
              {{ selectedTime }}
            </span>
            } @else {
            <div class="text-muted">Choose Date and Time</div>
            }
          </div>

          <button
            type="button"
            class="btn-main w-auto h-auto px-3 mb-0"
            data-bs-toggle="modal"
            data-bs-target="#book"
          >
            Book
          </button>
        </div>
      </div>

      <div class="mb-4">
        <h5 class="d-flex justify-content-between align-items-center">
          Reviews and Rating
          <span class="fa-xs text-primary-emphasis pt-2">
            <i class="fa-solid fa-pencil"></i>
            <button class="btn-text" type="button" data-bs-toggle="modal" data-bs-target="#review">
              add review
            </button>
          </span>
        </h5>
        <div class="d-flex justify-content-between align-items-center my-3">
          <h2>{{ doctorDetails()?.rating }}/5</h2>

          <div>
            @for (star of [1,2,3,4,5]; track $index) { @if (doctorDetails()!.rating >= star) {
            <i class="fa-solid fa-star text-warning"></i>
            } @if (doctorDetails()!.rating < star) {
            <i class="fa-regular fa-star text-warning"></i>
            } }
            <span class="d-block text-muted">{{ doctorDetails()?.reviewsCount }}+ Reviews</span>
          </div>
        </div>

        <!-- reviews -->
        <div class="row">
          @for (review of reviewsByDoctor(); track $index) {
          <div class="col-md-6 mt-3">
            <div class="card p-3 shadow-sm">
              <div class="d-flex align-items-center mb-2">
                <img
                  src="assets/images/img-review-1.svg"
                  [alt]="review.patientName"
                  class="rounded-circle me-2"
                />
                <div>
                  <h6 class="mb-0">{{ review.patientName }}</h6>
                  <small class="text-muted">{{ review.createdAt | timeAgo }}</small>
                </div>
                <div class="ms-auto text-warning bg-warning-subtle mb-2 p-1 rounded-1">
                  <i class="fa-solid fa-star"></i>
                  <span>{{ review.rating }}</span>
                </div>
              </div>
              <p>
                {{ review.comment }}
              </p>
            </div>
          </div>
          }
        </div>
      </div>
    </div>

    <!-- Doctor Card -->
    <div class="col-md-9 mx-auto col-lg-4">
      <div class="doctor-card shadow-sm p-4">
        <div class="d-flex justify-content-between mb-2">
          <span class="bg-white rounded-circle p-1">
            <i class="fa-regular fa-heart"></i>
          </span>
          <span class="bg-white rounded-circle p-1">
            <i class="fa-regular fa-comment-dots"></i>
          </span>
        </div>

        <div class="text-center mb-3">
          <div class="container-div-image d-inline-block position-relative">
            <img
              [src]="doctorDetails()?.imgUrl || '/assets/images/default-user.webp'"
              [alt]="doctorDetails()?.fullName"
              class="rounded-circle mb-2"
              style="width: 100px; height: 100px; object-fit: cover"
            />
            <img
              class="position-absolute custome-budget"
              src="assets/images/budgetCorrect.svg"
              alt=""
            />
            />
          </div>
          <h5 class="mb-0">Dr. {{ doctorDetails()?.fullName }}</h5>
          <p class="text-muted small">{{ doctorDetails()?.specialities }}</p>
        </div>

        <div class="row text-center mb-4">
          <div class="col">
            <span class="bg-white rounded-circle p-2">
              <i class="fa-solid fa-users"></i>
            </span>
            <p class="mb-0 mt-2 small fw-bold">2,000+</p>
            <small class="text-muted">patients</small>
          </div>
          <div class="col">
            <span class="bg-white rounded-circle p-2">
              <i class="fa-solid fa-award"></i>
            </span>
            <p class="mb-0 mt-2 small fw-bold">{{ doctorDetails()?.experienceYears }}</p>
            <small class="text-muted">experience</small>
          </div>
          <div class="col">
            <span class="bg-white rounded-circle p-2">
              <i class="fa-solid fa-star"></i>
            </span>
            <p class="mb-0 mt-2 small fw-bold">{{ doctorDetails()?.rating }}</p>
            <small class="text-muted">rating</small>
          </div>
          <div class="col">
            <span class="bg-white rounded-circle p-2">
              <i class="fa-solid fa-message"></i>
            </span>
            <p class="mb-0 mt-2 small fw-bold">{{ doctorDetails()?.reviewsCount }}</p>
            <small class="text-muted">reviews</small>
          </div>
        </div>

        <h6 class="mb-2">About me</h6>
        <p class="small text-muted mb-4">
          {{ doctorDetails()?.about }} <a class="text-decoration-none">Read more</a>
        </p>

        <h6 class="mb-2">Location</h6>
        <div class="border rounded overflow-hidden" style="height: 150px">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110502.61185084385!2d31.17606249516498!3d30.059611342983867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fa60b21beeb%3A0x79dfb296e8423bba!2sCairo%2C%20Cairo%20Governorate!5e0!3m2!1sen!2seg!4v1762664933056!5m2!1sen!2seg"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <p class="small text-muted mt-2">
          <i class="fa-solid fa-map-pin"></i> {{ doctorDetails()?.address }}
        </p>
      </div>
    </div>
  </div>
</div>

} @if (!doctorDetails()) {

<div class="text-center mt-5">
  <p>Doctor not found</p>
</div>
}
