.loging-card-layout {
  width: 420px;
  height: 329px;
}
.c-h2 {
  width: 99px;
  height: 36px;
  margin-bottom: 16px;
}

.c-p {
  width: 233px;
  height: 17px;
  color: #6d7379;
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 32px;
}

.input-group {
  width: 378px;
  height: 48px;
  margin-bottom: 32px;
}

.input-group-text {
  border: 1px solid #f5f6f7;
  border-radius: 10px;
  background-color: #f5f6f7;
}

.form-control {
  border: 1px solid #f5f6f7;
  border-radius: 10px;
  background-color: #f5f6f7;
}

.divider {
  width: 378px;
  height: 20px;
  margin-bottom: 16px;
}
.divider::before,
.divider::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background: #ddd;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}
.google-wrap {
  width: 100%;
  margin-bottom: 20px;
}
