<div class="container py-4">
    <div class="row g-3">
        <div class="col-md-6 col-lg-4" *ngFor="let item of appointments">
            <div class="card appointment-card shadow-sm ">
                <div class="card-body">
                    <!-- Header -->
                    <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-2">
                        <div class="text-muted small">
                            <i class="fa-regular fa-calendar"></i>
                            {{ item.date }}
                        </div>
                        <span class="fw-semibold {{ item.statusClass }}">
                            {{ item.status }}
                        </span>
                    </div>

                    <!-- Doctor Info -->
                    <div class="d-flex align-items-center mb-2">
                        <img [src]="item.img" alt="doctor" class="rounded-circle me-3" width="60" height="60" />
                        <div>
                            <h6 class="mb-0 fw-bold">{{ item.doctorName }}</h6>
                            <small class="text-muted">{{ item.specialty }}</small>
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="text-muted small mb-3">
                        <i class="fa-solid fa-location-dot me-1"></i>
                        {{ item.address }}
                    </div>

                    <!-- Buttons -->
                    <div class="d-flex justify-content-between gap-2">
                        <button *ngFor="let action of item.actions" class=" w-50" [ngClass]="{
                'btn-main': action.outline,
                'btn-second': !action.outline }">
                            {{ action.text }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>