.appointment-card {
  border: 1px solid hsl(0, 0%, 43%);
  border-radius: 16px;
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  }

  .card-body {
    font-family: 'Segoe UI', sans-serif;
  }

  h6 {
    color: #1a1a1a;
  }

  .btn {
    border-radius: 10px;
    font-weight: 500;
  }
}
