<div class="message-row" [ngClass]="msg.isPatient ? 'outgoing' : 'incoming'">
    <div class="bubble">
        <div class="content">
            {{ msg.content }}
        </div>
        <div class="meta">
            <span class="time">{{ msg.sentAt | date:'shortTime' }}</span>
            <span class="status" *ngIf="msg.isPatient">
                <i *ngIf="!msg.isRead" class="fa fa-check single"></i>
                <i *ngIf="msg.isRead" class="fa fa-check-double double"></i>
            </span>
        </div>
    </div>

</div>