.bg-main {
  background-image: url(../../../../assets/images/mainbg.svg);
  background-position: center;
  background-size: cover;
}

.bg-main2 {
  background-image: url(../../../../assets/images/Vector4.svg);
  background-size: cover;
}
