@if(!appInitialized){
<div class="container-fluid p-0 m-0 overflow-hidden position-relative">
  <img
    src="assets/images/NavLogo.svg"
    class="layout-logo position-absolute"
    alt="logo"
    width="40"
  />
  <div class="row g-0 vh-100">
    <div class="col-xl-6 d-flex align-items-center justify-content-center position-relative">
      <router-outlet></router-outlet>
    </div>
    <div class="col-xl-6 d-none d-xl-block">
      <div class="row g-0 h-100 position-relative">
        <div class="col-xl-6">
          <div class="bg-main w-100 h-100 position-absolute cimagemain"></div>
          <div class="bg-main2 w-100 h-100 position-absolute cimagemain2"></div>
        </div>
        <div class="col-xl-6 c-back-color"></div>
      </div>
    </div>
  </div>
</div>
}
