:root {
  --main-color: #145db8;
  --secondary-color: #e8eff8;
}
.btn-main {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--main-color);
  border-radius: 16px;
  padding-inline: 8px;
  padding-block: 16px;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-main:hover {
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
